MERCADOPAGO_ACCESS_TOKEN=cole_seu_access_token_de_teste_aqui
MERCADOPAGO_USE_SANDBOX=true
MERCADOPAGO_WEBHOOK_SECRET=cole_a_assinatura_secreta_do_webhook_aqui
PUBLIC_BASE_URL=http://localhost:3000
PORT=3000
